{% extends "navbar/navbar.html" %}

{% block content %}
<div class="container">


		  <div class="row">

			<div class="col" id="view-app">
				<h1>Find a Meetup</h1>
				<div class="list-group">
            {% for mentor, matches in mentors.items() %}

		  		  <a class="list-group-item list-group-item-action" @click="updateMentor({{ mentor.id }})" data-mentor-id="{{ mentor.id }}" data-mentor-name="{{ mentor.name }}" data-mentor-bio="{{ mentor.bio }}" id="mentor-{{ mentor.id }}">

                {{ mentor.name }}

                {% for tag in mentor.get_tags() %}
		  			    <span class="badge badge-secondary">{{ tag }}</span>
                {% endfor %}

                <br> {{ mentor.bio[:64] }}...

            </a>

            {% endfor %}

        </div>
			</div>

      <script>
       var app = new Vue({
           el: "#view-app",
           data: {
               mentor_id: 0
           },
           methods: {
               updateMentor: function(mentor_id) {
                   console.log(mentor_id)
                   var bio = document.getElementById("mentor-" + mentor_id).getAttribute("data-mentor-bio")
                   var name = document.getElementById("mentor-" + mentor_id).getAttribute("data-mentor-name")

                   console.log(bio)
                   console.log(name)


                   $("#mentor-big-bio").html(bio)
                   $("#mentor-big-name").html(name)
                   $("#mentor-big").show()
                   $("#meetup-link").show()
                   $("#meetup-link").attr("href", "/schedule_meetup/" + mentor_id)

               }
           }

       })

      </script>

			<div class = "jumbotron jumbotron-fluid" style="display: none;" id="mentor-big">
          <div class="col">
              <h1 id="mentor-big-name"></h1>
              <p id="mentor-big-bio"></p>

              <a href="/schedule_meetup/" id="meetup-link" style="display:none;">
                  <button class="btn btn-primary">Schedule a Meetup</button>
              </a>
              <!-- <p>Locations: </p>-->

          </div>
			</div>
	</div>

</div>
<style type="text/css">
	.list-group-item {
    padding: 3px 10px
}
</style>

{% endblock %}
